---
---

@import 'base';

   body {
       background: url("");
       position: relative;
       font-family: Roboto;
       color: #1A1A1A;
       font-weight: 300;
       line-height: 1.5;
       margin: 0;
   }

   .backdrop > * {
       padding: 1.1rem;
   }

.header {
    box-shadow: #333 0px 0px 3px;
    top: 0px;
    will-change: top;
    left: 0px;
    right: 0px;
    position: absolute;
    background: #181420;
}

.nav__list {
    float: right;
    margin: 0px;
    padding: 0px;
}

.nav__item {
    font-family: "Roboto Black";
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-transform: uppercase;
    will-change: padding-bottom;
    padding: 0.5rem 1rem 0.25rem;
    transition: padding-bottom 100ms ease 0s;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.nav__item:hover {
    padding-bottom: 1.3rem;
    border-bottom: 0.5rem solid rgb(151, 62, 240);
}
