---
---

@import 'base';

   body {
       background: url("");
       position: relative;
       min-height: 100vh;
       font-family: Roboto;
       color: #fff;
       font-weight: 300;
       overflow-wrap: break-word;
       line-height: 1.5;
   }

   @media (min-width: 900px) {

.backdrop--home, .backdrop--listing {
    background-color: transparent;
    margin-bottom: 0;
    padding-top: 16rem;
    padding-bottom: 5rem;
}

.backdrop {
    max-width: 75rem;
    margin-bottom: 3rem;
    background: #fff;
    padding-top: 7.5rem;
}

.posts, .projects, .paginator, .post, .comments, .footnotes, .backdrop {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.header--home, .header--listing {
    height: 2.5rem;
}

.header {
    background: #181420;
    box-shadow: 0 0 3px #333;
    top: 0;
    will-change: top;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: -20px;
}

.nav__toggle {
    position: absolute;
    height: 2rem;
    width: 2rem;
    margin: 2rem;
    right: 0;
    top: 0;
    background-image: url(/i/icons.svg#hamburger);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.nav__list {
    float: right;
    margin: 0;
    padding: 0;
}

.nav__item {
    display: inline-block;
    font-family: Roboto Black;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    padding-bottom: .25rem;
    transition: padding-bottom 100ms;
    will-change: padding-bottom;
    border: none;
}

.nav__item:hover {
    padding-bottom: 1.1rem;
    border-bottom: 0.4rem solid #973EF0;
}

.colophon--home, .colophon--listing {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid;
}

.posts--home {
    padding-top: 0;
}

.posts__entry-category {
    position: absolute;
    top: 1em;
    color: #973ef0;
    font-size: xx-large;
    font-family: Roboto black;
}

.posts__entry-category:after {
    content: "]";
}

.posts__entry-category:before {
    content: "[";
}
.posts__entry, .projects__entry {
    margin: 2rem 0;
    position: relative;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-right-width: 1.5rem;
    font-family: Roboto;
    color: #444;
}

.colophon--home, .colophon--listing {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid;
}

.posts__entry-date, .projects__entry-role {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.posts__entry-title, .projects__entry-title {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 3rem;
}

}

.colophon {
    color: #aaa;
    font-size: 68.75%;
    border-bottom: 2px solid #ccc;
}

.backdrop>* {
    padding: 1rem;
}

.posts--home {
    padding-top: 0;
}

.posts, .projects, .paginator, .post, .comments, .footnotes {
    max-width: 40rem;
}

li {
    margin: 0.5rem 0;
    line-height: 1.25;
}

.colophon {
    color: #aaa;
    font-size: 68.75%;
    border-bottom: 2px solid #ccc;
}
