---
---

@import 'base';

/* # Components
   ========================================= */

   body {
       background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAE0lEQVQIW2N48+bNfxhggLPwcgDQbi+YlZXTEQAAAABJRU5ErkJggg==);
       position: relative;
       min-height: 100vh;
       font-family: "Alegreya",Georgia,serif;
       color: #fff;
       font-weight: 300;
       overflow-wrap: break-word;
       line-height: 1.5;
   }

   @media (min-width: 900px) {

.backdrop--home, .backdrop--listing {
    background-color: transparent;
    margin-bottom: 0;
    padding-top: 16rem;
    padding-bottom: 5rem;
}

.backdrop {
    max-width: 75rem;
    margin-bottom: 3rem;
    background: #fff;
    padding-top: 7.5rem;
}

.posts, .projects, .paginator, .post, .comments, .footnotes, .backdrop {
    margin-left: auto;
    margin-right: auto;
}

.header--home, .header--listing {
    height: 2rem;
}

.header {
    background: #181420;
    box-shadow: 0 0 3px #333;
    top: 0;
    transition: top 200ms;
    will-change: top;
    left: 0;
    right: 0;
}

.nav__toggle {
    position: absolute;
    height: 2rem;
    width: 2rem;
    margin: 2rem;
    right: 0;
    top: 0;
    background-image: url(/i/icons.svg#hamburger);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.nav__list {
    float: right;
    margin: 0;
    padding: 0;
}

.nav__item {
    display: inline-block;
    font-family: "Roboto Black";
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    padding-bottom: .25rem;
    transition: padding-bottom 100ms;
    will-change: padding-bottom;
    border: none;
}

.nav__item:hover {
    padding-bottom: 1.1rem;
    border-bottom: 0.4rem solid #973EF0;
}

.colophon--home, .colophon--listing {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid;
}}

.colophon {
    color: #aaa;
    font-size: 68.75%;
    border-bottom: 2px solid #ccc;
}

.backdrop>* {
    padding: 1rem;
}

.posts--home {
    padding-top: 0;
}

.posts, .projects, .paginator, .post, .comments, .footnotes {
    max-width: 40rem;
}
