---
layout: default
---

{% if page.collection %}
  {% assign page_type = 'listing' %}
  {% assign item_type = 'posts' %}
  {% assign filter = page.collection %}
  {% if filter == 'tag' %}
    {% assign filter = filter | append: 's' %}
  {% endif %}
  {% assign label = page.path | split: '/' | last | split: '.' | first %}

  {% assign pool = site.posts | where: filter, label %}

{% elsif page.path == 'projects.html' %}
  {% assign page_type = 'listing' %}
  {% assign item_type = 'projects' %}
  {% assign pool = site.projects %}
  {% assign outbound_link_flag = ' target="_blank"' %}

{% else %}
  {% assign page_type = 'home' %}
  {% assign item_type = 'posts' %}
  {% assign pool = paginator.posts %}

{% endif %}

<main class="post post--{{ page_type }}" role="main">
  <h2 class="post__heading post--{{ page_type }}__heading">{{ page.title }}</h2>

  <ul class="post__list post--{{ page_type }}__list">
          {% for post in site.posts limit 5 %}
          <li class="post__entry post--{{ page_type }}__entry">
            <time class="posts__entry-date posts__entry-date--{{ page_type }}" datetime="{{ item.date | date_to_xmlschema }}">
            {{ item.date | date: "%b %-d" }}
              <div class="post__entry-title post__entry-title--{{ page_type }}">
                <a href="{{ site.baseurl }}{{ post.url }}"{{ outbound_link_flag }}>{{ post.title }}</a>
                  {{ post.content | truncatewords:75}}<br>
             <a href="{{ post.url }}">LEIA MAIS</a><br>
         </li>
      {% endfor %}
  </ul>
</main>

{{ content }}
